/*
 * Device Tree Overlay for WM8960 Audio Codec (ReSpeaker 2-Mic HAT / Keyestudio)
 * on Orange Pi Zero 2W (Allwinner H618) - AHUB-based version
 *
 * Copyright (C) 2025
 * License: MIT
 *
 * This is an alternative overlay that uses the AHUB (Audio Hub) architecture
 * present in Armbian kernels for H616/H618. This approach may work better
 * than the direct I2S0 method on some kernel versions.
 *
 * The H618 SoC uses an Audio Hub to route audio between different sources
 * and sinks. This overlay:
 *   - Enables AHUB DAM (Digital Audio Mixer)
 *   - Configures AHUB port 0 for I2S output on PI pins
 *   - Connects WM8960 codec via I2C
 *
 * IMPORTANT: Requires i2c1-pi overlay for I2C on pins 3/5!
 *   In /boot/armbianEnv.txt:
 *     overlays=i2c1-pi sun50i-h618-wm8960-soundcard-i2s3
 *
 * GPIO Pin Mapping (40-pin header):
 *   Pin 3  (PI8)  - I2C SDA 
 *   Pin 5  (PI7)  - I2C SCL
 *   Pin 12 (PI1)  - I2S BCLK
 *   Pin 35 (PI2)  - I2S LRCK
 *   Pin 38 (PI4)  - I2S DIN
 *   Pin 40 (PI3)  - I2S DOUT
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "xunlong,orangepi-zero2w", "allwinner,sun50i-h618";

	/* Fragment 0: Add fixed MCLK clock */
	fragment@0 {
		target-path = "/";
		__overlay__ {
			wm8960_mclk_ahub: wm8960-mclk-ahub {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
				clock-output-names = "wm8960-mclk";
			};
		};
	};

	/* Fragment 1: Add WM8960 codec to I2C1 */
	fragment@1 {
		target-path = "/soc@3000000/i2c@5002400";
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			wm8960_ahub: wm8960@1a {
				compatible = "wlf,wm8960";
				reg = <0x1a>;
				#sound-dai-cells = <0>;
				wlf,shared-lrclk;
				clocks = <&wm8960_mclk_ahub>;
				clock-names = "mclk";
			};
		};
	};

	/* Fragment 2: Define I2S/AHUB pins */
	fragment@2 {
		target-path = "/soc@3000000/pinctrl@300b000";
		__overlay__ {
			ahub_daudio0_pins_a: ahub_daudio0@0 {
				pins = "PI0", "PI1", "PI2";
				function = "i2s0";
				drive-strength = <20>;
				bias-disable;
			};
			ahub_daudio0_pins_b: ahub_daudio0@1 {
				pins = "PI3";
				function = "i2s0_dout0";
				drive-strength = <20>;
				bias-disable;
			};
			ahub_daudio0_pins_c: ahub_daudio0@2 {
				pins = "PI4";
				function = "i2s0_din0";
				drive-strength = <20>;
				bias-disable;
			};
		};
	};

	/* Fragment 3: Enable AHUB DAM platform (if exists in kernel) */
	fragment@3 {
		target-path = "/soc@3000000/ahub_dam_plat@5097000";
		__overlay__ {
			status = "okay";
		};
	};

	/* Fragment 4: Enable AHUB0 platform for external codec */
	fragment@4 {
		target-path = "/soc@3000000";
		__overlay__ {
			ahub0_plat: ahub0_plat {
				#sound-dai-cells = <0>;
				compatible = "allwinner,sunxi-snd-plat-ahub";
				apb_num = <0>;
				dmas = <&dma 3>, <&dma 3>;
				dma-names = "tx", "rx";
				playback_cma = <128>;
				capture_cma = <128>;
				tx_fifo_size = <128>;
				rx_fifo_size = <128>;
				pinctrl-names = "default";
				pinctrl-0 = <&ahub_daudio0_pins_a>, <&ahub_daudio0_pins_b>, <&ahub_daudio0_pins_c>;
				tdm_num = <0>;
				tx_pin = <0>;
				rx_pin = <0>;
				status = "okay";
			};

			ahub0_mach: ahub0_mach {
				compatible = "allwinner,sunxi-snd-mach";
				soundcard-mach,name = "wm8960-soundcard";
				soundcard-mach,format = "i2s";
				soundcard-mach,frame-master = <&ahub0_cpu>;
				soundcard-mach,bitclock-master = <&ahub0_cpu>;
				soundcard-mach,slot-num = <2>;
				soundcard-mach,slot-width = <16>;
				status = "okay";

				ahub0_cpu: soundcard-mach,cpu {
					sound-dai = <&ahub0_plat>;
					soundcard-mach,pll-fs = <4>;
					soundcard-mach,mclk-fs = <256>;
				};

				ahub0_codec: soundcard-mach,codec {
					sound-dai = <&wm8960_ahub>;
				};
			};
		};
	};
};
